<div style="margin-left: 10px" id="bid-list">
  <ul>
    <li id="<%=bid._id%>">
      <img
        src="<%=bid.user.avatar%>"
        style="width: 45px; height: 45px; border-radius: 50px"
      />
      <p><%=bid.text%></p>

      <!-- if user is tenant -->
      <%if(locals.user && !locals.user.isAdmin &&
      locals.user.id==bid.user.id){%>

      <p><a href="/bid/destroy/<%=bid.id%>">Delete </a></p>

      <%}%>
    </li>
  </ul>
</div>
