<div style="margin-left: 10px">
  <ul>
    <li>
      <img
        src="<%=bid.user.avatar%>"
        style="height: 35px; width: 35px; border-radius: 50%"
      />
      <p><b><%=bid.text%></b></p>
      <small><%=bid.user.name%></small>
      <a href="/bid/destroy/<%=bid.id%>">Delete </a>
    </li>
  </ul>
</div>
