<h1>Home page</h1>
<%if(locals.user && locals.user.isAdmin){%>
<h1>Hi landlord</h1>
<a href="/owner/profile"><%=user.name%></a>
<p><a href="/owner/destroysession">SignOut</a></p>
<% } else if(locals.user && !locals.user.isAdmin){%>
<h1>Hi tenant</h1>
<a href="/users/profile"><%=user.name%></a>
<p><a href="/users/destroysession">SignOut</a></p>
<% }else{%>
<a href="/owner/signin">Are you a landlord</a><br />
<a href="/users/signin">Are you a buyer</a>
<%} %>
