<h1>Sign In</h1>
<form action="/owner/create-session/" method="POST">
  <input type="email" name="email" placeholder="Your email" required />
  <input type="password" name="password" placeholder="Your password" required />
  <input type="submit" value="SignIn" />
</form>

<p><a href="/owner/signup">signup</a></p>
