<h1>Sign Up</h1>
<form action="/users/create" method="POST">
  <input type="email" name="email" placeholder="Your email" required />
  <input type="text" name="name" placeholder="Username" required />
  <input type="password" name="password" placeholder="Your password" required />
  <input
    type="password"
    name="confirm_password"
    placeholder="Confirm Password"
    required
  />
  <input type="number" name="phone" placeholder="Enter Your Phone no." />
  <input type="submit" value="SignUp" />
</form>
<p><a href="/users/signin">signin</a></p>
